terraform/s3-backend/.terraform/providers/registry.terraform.io/hashicorp/aws/5.46.0/linux_arm64/terraform-provider-aws_v5.46.0_x5
terraform/infrastructure/.terraform/providers/registry.terraform.io/hashicorp/archive/2.4.2/linux_arm64/terraform-provider-archive_v2.4.2_x5
terraform/infrastructure/.terraform/providers/registry.terraform.io/hashicorp/aws/5.46.0/linux_arm64/terraform-provider-aws_v5.46.0_x5
terraform/infrastructure/compute-gateway-lambda.zip